body {
    background: url("background.jpg");
}

.data{
    margin: 25px;
}
.filter-input{
    display: none;
}
.child{
    display: none;
}
.parent{
    display: none;
}
.recordContainer{
    margin-bottom: 15px;
    padding: 3px;
    border: 2px solid #355780;
    background-color: #79A3D4;
    border-radius: 5px;
}
.recordItem{
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #153f6f;
    background-color: #2562aa;
    color: #fff1eb;
    border-radius: 5px;
    padding: 5px;
}

.parentContainer, .propertiesContainer{
    display: inline-block;
}

.parentContainer{
    background-color: #2562aa;
    padding: 15px;
    border-radius: 50%;
}

.propertiesContainer{
    position: relative;
    bottom: 18px;
    padding: 25px;
    background-color: #2562aa;
    color: white;
    border-radius: 10px;
}

.parentItem{
    text-align: center;
    color: #fff1eb;
}

.propertiesItem{
    display: inline-block;
    padding: 0 10px;
    border-right: solid white 2px;
}

.child-liquidated{
    border: none;
}

.time{
    background-color: white;
    display: inline-block;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

.spinner {
  display: none;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  & .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

