body {
    background: url("background.jpg");
}

.data{
    margin: 25px;
}
.filter-input{
    display: none;
}
.child{
    display: none;
}
.parent{
    display: none;
}
.link-container{
    position: relative;
    bottom: 30px;
    display: inline-block;
    margin-bottom: 15px;
    padding: 3px;
    border: 2px solid #355780;
    background-color: #79A3D4;
    border-radius: 5px;
}
.recordItem{
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #153f6f;
    background-color: #2562aa;
    color: #fff1eb;
    border-radius: 5px;
    padding: 5px;
}

.parentContainer, .propertiesContainer{
    display: inline-block;
}

.parentContainer{
    background-color: #2562aa;
    padding: 15px;
    border-radius: 50%;
}

.propertiesContainer{
    position: relative;
    bottom: 18px;
    padding: 25px;
    background-color: #2562aa;
    color: white;
    border-radius: 10px;
}

.parentItem{
    text-align: center;
    color: #fff1eb;
}

.propertiesItem{
    display: inline-block;
    padding: 0 10px;
    border-right: solid white 2px;
}

.child-liquidated{
    border: none;
}

.time{
    background-color: white;
    display: inline-block;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 40px;
}

.spinner {
  color: grey;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.spinner:after {
  animation: changeContent .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 35px;
}

.img-urfu{
    max-height: 50px;
    position: absolute;
    right: 150px;
}

.img-sbis{
    max-height: 50px;
    position: absolute;
    right: 0;
}

.title{
    display: inline-block;
}

.input-container{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: lightgray;
    border: solid 2px black;
    border-radius: 4px;
}

.label{
    display: block;
}
.select{
    display: block;
    width: 100%;
}

.nodes-container{
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 3px;
    border: 2px solid #355780;
    background-color: #79A3D4;
    border-radius: 5px;
}

.node-item{
    border: 2px solid #153f6f;
    background-color: #2562aa;
    color: #fff1eb;
    border-radius: 5px;
    padding: 5px;
}

.node-title{
    padding: 3px 0 3px 0;
    color: white;
}

.record-container{
    white-space: nowrap;
}

.deep-child-container{
    display: inline-block;
    border: 2px solid red;
    margin: 0 10px 25px 0;
    border-radius: 5px;
    padding: 5px;
}

.deep-parent-container{
    display: inline-block;
    border: 2px solid black;
    margin: 0 10px 25px 0;
    border-radius: 5px;
    padding: 5px;
}

.btn-preview{

}

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}

